<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='project_room.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='conversation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_project.css') }}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name"></span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="{{ url_for('project.project_room') }}">
          <i class='bx bx-grid-alt'></i>
          <span class="link_name">Project Room</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{{ url_for('project.project_room') }}">Project Room</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection'></i>
            <span class="link_name">Projects</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="{{ url_for('project.project_room') }}">Projects</a></li>
          {% for project in projects %}
            <li><a href="{{ url_for('project.project_page', project_id=project.id) }}">{{ project.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <a href="{{ url_for('settings.settings') }}">
          <i class='bx bx-cog'></i>
          <span class="link_name">Settings</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{{ url_for('settings.settings') }}">Settings</a></li>
        </ul>
      </li>
      <li>
        <div class="profile-details">
            <div class="profile-content">
                <!--<img src="{{ url_for('static', filename='profile.jpg') }}" alt="profileImg">-->
            </div>
            <div class="name-job">
                <div class="profile_name">{{ current_user.username }}</div>
                <div class="job">{{ current_user.role }}</div>
            </div>
            <a href="{{ url_for('auth.logout') }}">
                <i class='bx bx-log-out'></i>
            </a>
        </div>
    </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu'></i>
      <span class="text"></span>
    </div>
    
    <!-- <div class="one"></div> -->
    
    {% block content %}
    {% endblock %}
    
  </section>
  
  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
      let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
      arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  
  $(document).ready(function() {
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    };

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          toastr["{{ category }}"]("{{ message }}");
        {% endfor %}
      {% endif %}
    {% endwith %}
  });
  </script>
</body>
</html>
