{% extends "base.html" %}

{% block title %}Edit Project{% endblock %}

{% block content %}
<div class="edit-project-container">
    <h2 class="edit-project-title">Edit Project</h2>
    <form method="POST" action="{{ url_for('project.edit_project', project_id=project.id) }}" class="edit-project-form">
        {{ form.hidden_tag() }}
        
        <div class="edit-project-form-group">
            {{ form.name.label }}
            {{ form.name(class="edit-project-full-width") }}
        </div>
        <div class="edit-project-form-group">
            {{ form.description.label }}
            {{ form.description(class="edit-project-full-width") }}
        </div>
        <div class="edit-project-form-group">
            {{ form.repository_url.label }}
            {{ form.repository_url(class="edit-project-full-width") }}
        </div>
        <div class="edit-project-form-group">
            {{ form.objective.label }}
            {{ form.objective(class="edit-project-full-width") }}
        </div>
        <div class="edit-project-form-group">
            {{ form.key_features_components.label }}
            {{ form.key_features_components(class="edit-project-full-width") }}
        </div>
        <div class="edit-project-form-group">
            {{ form.implementation_strategy.label }}
            {{ form.implementation_strategy(class="edit-project-full-width") }}
        </div>
        <div class="edit-project-form-group">
            {{ form.software_stack.label }}
            {{ form.software_stack(class="edit-project-full-width") }}
        </div>
        <div class="edit-project-form-group">
            {{ form.start_date.label }}
            {{ form.start_date(class="edit-project-full-width") }}
        </div>
        <div class="edit-project-form-group">
            {{ form.end_date.label }}
            {{ form.end_date(class="edit-project-full-width") }}
        </div>
        <div class="edit-project-form-group">
            <button type="submit">{{ form.submit.label }}</button>
        </div>
    </form>
</div>
{% endblock %}
